.toolbar{
    position:  fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #521751;
    height: 4em ;
}
.toolbar__navigation{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;

}
.toolbar__logo {
    margin-left: 1rem;
}
.toolbar__logo a{ 
    color:white;
    text-decoration: none;
    font-size: 1.5rem;
    
}

.toolbar__navigation__items ul{
    list-style: none;
    display:flex;
    margin: 0;
    padding: 0;
}
.toolbar__navigation__items li {
    padding: 0 0.5rem;

}

.toolbar__navigation__items a{
    color:white;
    text-decoration: none;
}

.toolbar__navigation__items a:hover,
.toolbar__navigation__items a:active{

    color:#5DA3FA ;

}


.spacer{
    flex: 1;
  }

 