<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <script >
       function solution(){
           let elements=document.getElementsByTagName('td');
           let cellValues=''
          for(el of elements){
              if(el.style.backgroundColor!=el.style.color){
                  cellValues+= el.innerHTML
              }
          }
          return cellValues;
       }



    </script>
    <title>Title</title>
</head>
<body>
<table>

    <tbody>
    <tr>
        <td style="color: #ff00ff; background-color:#FFFFFF">Q</TD>
        <td style="background-color: #442244; color: #442244">Y</td>
        <td style="color: #FFFF00; background-color:#442244">A</td>
    </tr>
    <tr>
        <td style="color: #FFEEFE; background-color:#990000">Q</td>
        <td style="color: #FFFF00; background-color:#FF0">M</td>
        <td style="color: #000000; background-color:#FF7777">O</td>
    </tr>


    </tbody>
</table>


div#grand>div#parent>div#child
<button onclick="solution()">click</button>
</body>
</html>


